# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file
# DO NOT ignore .terraform.lock.hcl

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db